<% layout('layout/boilerplate') %>
    <h1>All Restraunts</h1>
    <div><a href="/restr/new">Add a restaurant</a></div>
    <ul>
        <% for(let rest of rests){ %>
            <li><a href="/restr/<%=rest._id%>"><%=rest.title%></a></li>
        <% }%>
    </ul>