<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restraunts</title>
</head>
<body>
    <h1>All Restraunts</h1>
    <div><a href="/restr/new">Add a restaurant</a></div>
    <ul>
        <% for(let rest of rests){ %>
            <li><a href="/restr/<%=rest._id%>"><%=rest.title%></a></li>
        <% }%>
    </ul>
</body>
</html>