<% layout('layout/boilerplate') %>
    <h1>New restaurant</h1>
    <form action="/restr" method="post">
        <div>
            <label for="title">Title</label>
            <input type="text" id="title" name="restr[title]">
        </div>
        <div>
            <label for="location">Location</label>
            <input type="text" id="location" name="restr[location]">
        </div>
        <button>Submit</button>
        <div>
            <a href="/restr">All restaurants</a>
        </div>
        
    </form>
