<% layout('layout/boilerplate') %>
    <h1><%=rest.title%></h1>
    <h2><%=rest.location%></h2>

    <p>
        <form action="/restr/<%=rest._id%>?_method=DELETE" method="post">
            <button>delete</button>
        </form>
    </p>

    <footer>
    <p>
        <a href="/restr/<%= rest._id %>/edit">Edit</a>
    </p>
        <a href="/restr">All restaurants</a>
    </footer>